@model GameSiteProject.Models.ViewModels.RegistrationViewModel

<h2>@ViewData["Register"]</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label for="Nickname">@ViewData["NicknameToChange"]</label>
        <input type="text" asp-for="Nickname" class="form-control" required />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">@ViewData["Email"]</label>
        <input type="email" asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">@ViewData["Password"]</label>
        <input type="password" asp-for="Password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ProfilePicturePath">@ViewData["PFPPath"]</label>
        <input type="text" asp-for="ProfilePicturePath" class="form-control" />
        <span asp-validation-for="ProfilePicturePath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="UserInformation">@ViewData["InfoAboutUser"]</label>
        <textarea asp-for="UserInformation" class="form-control"></textarea>
        <span asp-validation-for="UserInformation" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@ViewData["RegisterApply"]</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}