@using System.Threading
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "GameLens";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameLens</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="brand-container d-flex align-items-center">
                <img src="/lib/GameLens.png" alt="GameLens Logo" width="75" height="75" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameLens</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="User" asp-action="Profile" class="btn btn-primary ml-3">
                        @ViewBag.Nickname
                    </a>
                    <a href="@Url.Action("SendPrivateMessage", "Message")" class="btn btn-primary ml-3">
                        @ViewData["SendDM"]
                    </a>
                    <a href="@Url.Action("Inbox", "Message")" class="btn btn-primary ml-3">
                        @ViewData["ViewDMS"]
                    </a>
                }
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarNav">
                <div class="ml-auto">
                    <a href="@Url.Action("CreateDiscussion", "ForumThread")" class="btn btn-primary">@ViewData["CreateDiscussion"]</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form action="@Url.Action("Logout", "User")" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">@ViewData["Logout"]</button>
                        </form>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "User")" class="btn btn-primary">@ViewData["Login"]</a>
                        <a href="@Url.Action("Register", "User")" class="btn btn-secondary">@ViewData["Register"]</a>
                    }
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToUpper() <!-- Current language -->
                    </button>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown">
                        <a class="dropdown-item" href="@Url.Action("SetLanguage", "Home", new { culture = "en", returnUrl = ViewContext.HttpContext.Request.Path })">EN</a>
                        <a class="dropdown-item" href="@Url.Action("SetLanguage", "Home", new { culture = "uk", returnUrl = ViewContext.HttpContext.Request.Path })">UA</a>
                    </div>
                </div>
                
                @if (User.IsInRole("Admin"))
                {
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            CRUD
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Користувачів</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Game" asp-action="Index">Ігри</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="ForumThread" asp-action="Index">Форуми</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="Index">Повідомлення</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Notification" asp-action="Index">Сповіщення</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Post" asp-action="Index">Пости</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Tag" asp-action="Index">Теги</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Vote" asp-action="Index">Голоси</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>